<ng-progress></ng-progress>
<h1 style="text-align:center">My Goals</h1>
<hr>
<div class="container">

  <div>
    <blockquote class="text-center text-lg">
      <p>{{quote.quote}}</p>
      <footer>
        <cite>{{quote.author}}</cite>
      </footer>
    </blockquote>
  </div>
</div>
<body style="padding-left: 500px">
  <div class="container">

    <div>
      <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
    </div>

  </div>
</body>
  <div class="container">
    <div *ngFor="let goal of goals;let i = 'index'">
      <div>
        <h4 id="{{i}}" appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h4>
        <button class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>
      </div>

      <div *ngIf="goal.showDescription">
        <app-goal-details [goal]='goal' (isComplete)='deleteGoal($event,i)'></app-goal-details>
      </div>

    </div>

  </div>

  <p *ngIf='goals.length > 5'>You have too many goals</p>